/*Light Green Materail Color Sheme https://material.io/guidelines/style/color.html#color-color-palette */
*{
    /* temporary border */
    border: solid 1px black;

}
body{
    background: #F1F8E9;
    display: grid;
}
header{
    grid-column: 1 / 7;
    grid-row: 1;
    display: grid;
}
#logo{
    height: 70px;
    width: 90px;
}
#login{
    grid-column: 3 / 4;
    grid-row: 1; 
}
main{
    grid-column: 2 / 6;
    grid-row: 2 / 5;
}
#tasks{
    grid-column: 1;
    grid-row: 2 / 7;
}
.draggable, .droppable{
    height: 15px;
}
#employees{
    grid-column: 6;
    grid-row: 2 / 7;
}
#log{
    grid-column: 2 / 6;
    grid-row: 5/7;
    overflow-y: scroll;
    height: 250px;
}
#createEmployeeForm{
    display: none;
}
#createTaskForm{
    display: none;
}